.confirm-email-container {
    overflow-y: hidden; /* no vertical scroll */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.confirm-email-title {
    margin-top: 20vw;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
}
.confirm-email-subtitle {
    margin-top: 1.5vw;
    width: 25%;
    text-align: center;
    font-size: 0.85rem;
    color: #5d5d5d;
    line-height: 1.3vw;
}
.code-input {
    margin-top: 3vw;
    width: 23vw;
    height: 3vw;
    resize: none;
    border-radius: 30px;
    border: 1px solid #d4d4d4;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2rem;
    color: black;
}