.login-container {
    overflow-y: hidden; /* no vertical scroll */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-title {
    margin-top: 10vw;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
}
.login-subtitle {
    margin-top: 1.5vw;
    width: 25%;
    text-align: center;
    font-size: 0.85rem;
    color: #5d5d5d;
    line-height: 1.3vw;
}

.email-input {
    margin-top: 3vw;
    width: 23vw;
    height: 3vw;
    resize: none;
    border-radius: 30px;
    border: 1px solid #d4d4d4;
    padding-left: 1.5vw;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    color: black;
}
.password-input {
    margin-top: 1vw;
    width: 23vw;
    height: 3vw;
    resize: none;
    border-radius: 30px;
    border: 1px solid #d4d4d4;
    padding-left: 1.5vw;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    color: black;
}
.continue-button {
    margin-top: 1vw;
    width: 25vw;
    height: 3.5vw;
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
    border-width: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    color: white;
}

.or-container {
    margin-top: 1.5vw;
    display: flex;          /* enable flexbox */
    align-items: center;    /* vertical centering */
    justify-content: center;/* optional: center the whole group */
    flex-direction: row;    /* horizontal layout */
    gap: 0.8vw;             /* spacing between items */
  }
.or {
    font-size: 0.8rem;
    font-weight: 500;
    color: black;            /* optional */
    padding: 0 0.5vw;       /* space around text */
}


.continue-with-container {
    margin-top: 1.5vw;
    display: flex;          /* enable flexbox */
    flex-direction: column; /* stack children vertically */
    align-items: center;    /* center them horizontally */
    justify-content: center;/* center them vertically */
    gap: 0.8vw;               /* spacing between items */
}

.continue-with-button {
    width: 25vw;
    height: 3.5vw;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #d4d4d4;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.95rem;
    display: flex;           /* Add this */
    align-items: center;     /* Center items vertically */
    justify-content: flex-start; /* Center items horizontally */
    gap: 10px;               /* Space between icon and text */
    padding-left: 1.5vw
}
.continue-with-button:hover {
    width: 25vw;
    height: 3.5vw;
    border-radius: 30px;
    background-color: rgba(242, 242, 242, 0.989);
    border: 1px solid #d4d4d4;
    font-size: 0.95rem;
    display: flex;           /* Add this */
    align-items:z center;     /* Center items vertically */
    justify-content: flex-start; /* Center items horizontally */
    gap: 10px;               /* Space between icon and text */
    padding-left: 1.5vw
}

.google-logo {
    width: 1.2vw;
    height: 1.2vw;
    margin: 0;              /* Remove the top margin */
    padding-right: 0.5vw;
}

.apple-logo {
    width: 1.2vw;
    height: 1.3vw;
    margin: 0;              /* Remove the top margin */
    padding-right: 0.5vw;
}

.microsoft-logo {
    width: 1.2vw;
    height: 1.3vw;
    margin: 0;              /* Remove the top margin */
    padding-right: 0.5vw;
}